.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;

  &__gif {
    display: block;
    width: 60px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* If you want to keep the circular look */
  }
}
